{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travel Blog - TRAVELLO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- HEADER -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}"><h1>TRAVELLO</h1></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'about' %}">About</a></li>
                                            {% if user.is_authenticated %}
                                                <li>Hello, {{ user.first_name }}</li>
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            {% else %}
                                                <li><a href="{% url 'login' %}">Login</a></li>
                                                <li><a href="{% url 'register' %}">Register</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            <li><a class="active" href="{% url 'blog_list' %}">Blog</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <section class="blog-list container mt-5">
        <h1>Travel Blog</h1>
        <ul class="list-unstyled">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                            <a href="{% url 'blog_detail' post.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No blog posts found.</p>
            {% endfor %}
        </ul>
    </section>

    <!-- FOOTER -->
    <footer class="footer mt-5">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <a href="{% url 'index' %}"><h1>TRAVELLO</h1></a>
                            <p>
                                Balkumari-Lalitpur<br>
                                <a href="#">9845000000</a><br>
                                <a href="#">TRAVELLO@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">TRAVELLO</h3>
                            <ul class="links">
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS FILES -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
