{% extends 'main_base.html' %}

{% block title %}Travel Blog - TRAVELLO{% endblock %}

{% block content %}
    <h1>Travel Blog</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                        <a href="{% url 'blog_detail' post.slug %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No blog posts found.</p>
        {% endfor %}
    </div>
{% endblock %}
