{% extends "main_base.html" %}
{% load static %}

{% block content %}

<div class="destination_banner_wrap overlay">
    <div class="destination_text text-center">
        <h3>{{ dest.destination.name }}</h3>
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Description</h3>
                    <p>{{ dest.desc }}</p>

                    <div class="single_destination">
                        <h4>Day-01</h4>
                        <p>{{ dest.day1 }}</p>
                    </div>
                    <div class="single_destination">
                        <h4>Day-02</h4>
                        <p>{{ dest.day2 }}</p>
                    </div>
                    {% if dest.day3 %}
                        <div class="single_destination">
                            <h4>Day-03</h4>
                            <p>{{ dest.day3 }}</p>
                        </div>
                    {% endif %}
                    {% if dest.day4 %}
                        <div class="single_destination">
                            <h4>Day-04</h4>
                            <p>{{ dest.day4 }}</p>
                        </div>
                    {% endif %}
                    {% if dest.day5 %}
                        <div class="single_destination">
                            <h4>Day-05</h4>
                            <p>{{ dest.day5 }}</p>
                        </div>
                    {% endif %}
                    {% if dest.day6 %}
                        <div class="single_destination">
                            <h4>Day-06</h4>
                            <p>{{ dest.day6 }}</p>
                        </div>
                    {% endif %}
                </div>

                <div class="bordered_1px"></div>

                <div class="contact_join">
                    <h3>Book Now!!</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="submit_btn">
                                <button class="boxed-btn4" type="button"
                                    onclick="window.location.href='{% url 'pessanger_detail_def' city_name=dest.destination.name %}'">
                                    Book Here
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Back to destination list -->
                <a href="{% url 'destination_list' city=dest.destination.city.name %}" class="btn btn-secondary mt-4">
                    &larr; Back to {{ dest.destination.city.name }} Destinations
                </a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
