{% extends "main_base.html" %}

{% block title %}Tour Recommendations{% endblock %}

{% block content %}
<h1><center> Tour Recommendations</center></h1>
<table>
    <tr>
        <th>Name</th>
        <th>Days</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    {% for recommendation in recommendations %}
    <tr>
        <td>{{ recommendation.name }}</td>
        <td>{{ recommendation.days }}</td>
        <td>{{ recommendation.desc }}</td>
        <td>{{ recommendation.price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
