{% extends "main_base.html" %}

{% block title %}
TRAVELLO - Destinations in {{ city }}
{% endblock title %}

{% block content %}
<!-- Banner / Breadcrumb -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Destinations in {{ city }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Destinations List -->
<div class="popular_places_area py-5">
    <div class="container">
        <div class="row">
            {% if dests %}
                {% for dest in dests %}
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="single_place">
                            <div class="thumb position-relative">
                                <img src="{{ dest.img1.url }}" alt="{{ dest.destination.name }}" class="img-fluid rounded">
                                <a href="{% url 'destination_details' destination_name=dest.destination.name %}" class="prise position-absolute top-0 end-0 m-2 bg-primary text-white px-3 py-1 rounded">
                                    NRP {{ dest.price }}
                                </a>
                            </div>
                            <div class="place_info mt-2">
                                <a href="{% url 'destination_details' destination_name=dest.destination.name %}">
                                    <h3>{{ dest.destination.name }}</h3>
                                </a>
                                <p>{{ dest.destination.city.name }}</p>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i> {{ dest.days }} Days
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <p class="text-center">No destinations found for this city.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
